.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.question {
  color: #31458d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(15px + 5vmin);
  position: absolute;
  z-index: 2;
  top: 130px;
  font-family: "Dancing";
}
.question1 {
  color: #31458d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(15px + 5vmin);
  position: absolute;
  z-index: 2;
  top: 190px;
  font-family: "Dancing";
}
.question2 {
  color: #31458d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(15px + 5vmin);
  position: absolute;
  z-index: 2;
  top: 300px;
  font-family: "Dancing";
}

.Center {
  text-align: -webkit-center;
  text-align: -moz-center;
}
.rodal-dialog-zoom > .rodal-dialog {
  width: 100% !important;
  height: 100% !important;
  font-family: "Dancing";
  font-size: calc(15px + 2vmin) !important;
  padding: 0;
}

.rodal-dialog-add > .rodal-dialog {
  width: 80% !important;
  height: 90% !important;
  font-family: "Dancing";
  font-size: calc(15px + 1vmin) !important;
}
@media screen and (max-width: 1024px) {
  .rodal-dialog-add > .rodal-dialog {
    width: 85% !important;
    height: 90% !important;
  }
}
@media screen and (max-width: 992px) {
  .rodal-dialog-add > .rodal-dialog {
    width: 95% !important;
    height: 99% !important;
  }
}

@media screen and (max-width: 375px) {
  .rodal-dialog-add > .rodal-dialog {
    width: 98% !important;
    height: 98% !important;
  }
}
