.Heart {
  -webkit-animation: mymove1 18s linear infinite;
  animation: mymove1 18s linear infinite;
  -moz-animation: mymove1 18s linear infinite;
  position: absolute;
  top: -50px;
}

@keyframes mymove1 {
  from {
    top: -50px;
  }
  to {
    top: 710px;
  }
}

@-webkit-keyframes mymove1 {
  from {
    top: -50px;
  }
  to {
    top: 710px;
  }
}

@-moz-keyframes mymove1 {
  from {
    top: -50px;
  }
  to {
    top: 710px;
  }
}
