.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.question {
  color: #31458d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(15px + 5vmin);
  position: absolute;
  z-index: 2;
  top: 130px;
  font-family: "Pinyon";
}
